$text: var(--text);
$dark_color: var(--dark-color);
$light_color: var(--light-color);
$dark_blue: var(--dark-blue);
$light_blue: var(--light-blue);
$brightness: var(--brightness);
$background: linear-gradient(135deg, $dark_blue 0%, $light_blue 100%);

:root {
    --dark-blue: #001C2F;
    --light-blue: #2A4E62;
}

.app.dark {
    --brightness: .5;
    --text: #fff;
    --dark-color: var(--dark-blue);
    --light-color: var(--light-blue);
}

.app.light {
    --brightness: 1.5;
    --text: #000;
    --dark-color: var(--light-blue);
    --light-color: var(--dark-blue);
}